
@model IEnumerable<Online_store_of_digital_electronics.Models.ProductCategory>

@{
    ViewData["Title"] = "_Category";
}

@foreach (var item in Model)
{
    <a class="list-group-item"> <img src="@Html.DisplayFor(modelItem => item.Image)"/></a>
}