input {
    border: none;
}

input:focus {
    outline: none;
}

.search {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 43px;
    position: relative;
}

.search.focus .search-history {
    display: block;
}

.search__input {
    border: 1px solid #FAFAFA;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    width: 300px;
}

.search__button {
    z-index: 1;
    background: #C4C4C4;
    border-radius: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_201_1828)'%3E%3Cpath d='M19.8779 19.2887L13.7925 13.2033C15.0565 11.7999 15.8334 9.94957 15.8334 7.91664C15.8333 3.55145 12.2819 0 7.91668 0C3.55145 0 0 3.55145 0 7.91668C0 12.2819 3.55145 15.8334 7.91668 15.8334C9.94961 15.8334 11.7999 15.0565 13.2034 13.7925L19.2887 19.8779C19.3701 19.9593 19.4768 20 19.5834 20C19.69 20 19.7966 19.9593 19.878 19.8779C20.0407 19.7152 20.0407 19.4515 19.8779 19.2887ZM7.91668 15C4.01125 15 0.833359 11.8225 0.833359 7.91668C0.833359 4.01086 4.01125 0.83332 7.91668 0.83332C11.8221 0.83332 15 4.01082 15 7.91668C15 11.8225 11.8221 15 7.91668 15Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_201_1828'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 100%;
}

.search-history {
    z-index: 10;
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    padding: 0px 0px 0px 0px;
    top: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
}

.search-history__header {
    color: #798394;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-history__clean {
    color: #00205B;
}

.search-history__list {
    display: flex;
    flex-direction: column;
}

.search-history__item {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.search-history__item::before {
    margin-left: 20px;
    content: '';
    min-width: 16px;
    min-height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_86_5435)'%3E%3Cpath d='M15.9023 15.431L11.034 10.5627C12.0452 9.43994 12.6667 7.95966 12.6667 6.33331C12.6667 2.84116 9.82553 0 6.33334 0C2.84116 0 0 2.84116 0 6.33334C0 9.82553 2.84116 12.6667 6.33334 12.6667C7.95969 12.6667 9.43994 12.0452 10.5627 11.034L15.431 15.9023C15.4961 15.9674 15.5814 16 15.6667 16C15.752 16 15.8372 15.9674 15.9024 15.9023C16.0326 15.7721 16.0326 15.5612 15.9023 15.431ZM6.33334 12C3.209 12 0.666687 9.458 0.666687 6.33334C0.666687 3.20869 3.209 0.666656 6.33334 0.666656C9.45769 0.666656 12 3.20866 12 6.33334C12 9.45803 9.45769 12 6.33334 12Z' fill='%23798394'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_86_5435'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
