header {
    margin: 44px auto;
    max-width: 85%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(52,79,121,.56);
    justify-content: space-between;
}

    header .logo {
        max-width: 250px;
    }

    header .mnu_top {
        list-style-type: none;
    }

        header .mnu_top li {
            display: inline-block;
            margin-right: 75px;
        }

            header .mnu_top li a {
                display: block;
                text-decoration: none;
                color: #4F4C67;
                font-size: 18px;
                font-weight 600;
                -webkit-transition: color .4s ease;
                -o-transition: color .4s ease;
                transition: color .4s ease;
            }

                header .mnu_top li a:hover {
                    color: #3a374c;
                }

    header .btns {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
        align-items: center;
    }

        header .btns > a {
            border-radius: 10px;
            text-decoration: none;
            -webkit-transition: color .4s ease;
            -o-transition: color .4s ease;
            transition: color .4s ease;
        }

        header .btns .btn_light{
            font-size: 18px;
            color: #4F4C67;
            font-weight: 500;
            border: 1px solid #A2D5CE;
            padding: 5px 48px;
        }

