@model Online_store_of_digital_electronics.Models.ProductCategory

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Product.css" type="text/css" />
<section>
    <div class="page-title">
        <h3>@Model.Name</h3>
    </div>
    <div class="products-page__content">
        <div class="products-page__left-block">
            <div class="product-list-filters__block">
                <div class="item-filters">
                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="list-group-item list-group-item-action filters-title">
                            Производители
                        </p>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <div class="collapse-filters">
                            <li class="list-group-item list-group-item-action filters-ditails">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Xiaomi</label>
                            </li>
                            <li class="list-group-item list-group-item-action filters-ditails">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Realmi</label>
                            </li>
                            <li class="list-group-item list-group-item-action filters-ditails">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Samsung</label>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="item-filters">
                    <a data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <p class="list-group-item list-group-item-action filters-title">
                            Цены
                        </p>
                    </a>
                    <div class="collapse" id="collapseExample1">
                        <div class="card-filters">
                            <li class="list-group-item list-group-item-action filters-ditails">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">5000-10000</label>
                            </li>
                            <li class="list-group-item list-group-item-action filters-ditails">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">10000-20000</label>
                            </li>
                            <li class="list-group-item list-group-item-action filters-ditails">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">20000-50000</label>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-page_right-block">
            <div class="top-filters__block">
                <div class="top-filters-item">
                    <div class="top-filters-name">
                        <span>Сортировка по:</span>
                        <form id="form" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#panel" data-ajax-mode='replace' data-ajax-begin="UpdatingSorting()" data-ajax-url="@Url.Action("GetFilterProduct","ProductCategories")">
                            <button id="submit" type="submit" style="display:none" data-rad="flexRadioDefault1">
                            </button>
                            <input type="hidden" name="id_category" value="@Model.Id_сategory">
                            <a class="nav-link active dropdown-toggle" id="simple" data-bs-toggle="dropdown" aria-current="page" href="#">Цене</a>
                            <ul class="dropdown-menu top-filters-menu" aria-labelledby="dropdownMenuButton1">
                                <li class="dropdown-item">
                                    <input class="form-check-input" onchange="sub()" type="radio" name="Sort" value="1" id="flexRadioDefault1">
                                    <label id="1" class="form-check-label" for="flexRadioDefault1">
                                        Сначала дорогие
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <input class="form-check-input" onchange="sub()" type="radio" name="Sort" value="2" id="flexRadioDefault2">
                                    <label id="2" class="form-check-label" for="flexRadioDefault2">
                                        Сначала недорогие
                                    </label>
                                </li>
                                <li class="dropdown-item">
                                    <input class="form-check-input" onchange="sub()" type="radio" name="Sort" value="3" id="flexRadioDefault3">
                                    <label id="3" class="form-check-label" for="flexRadioDefault3">
                                        Наименованию
                                    </label>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div id="panel">
                @await Html.PartialAsync("~/Views/Products/_ProductCard_Right.cshtml", Model.Products)
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Swiper", new { nameCategory = "Смарт часы" })
</section>

<script>
    function sub() {
        document.querySelector("#submit").click();
    }

    function UpdatingSorting() {
        var id = document.querySelector('input[name="id"]:checked').value;
        document.getElementById("simple").innerHTML = document.getElementById(id).in;
    }
</script>