<head>
    <link rel="stylesheet" href="C:\Programing\Online-store-of-digital-electronics\Online store of digital electronics\wwwroot\css\bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="C:\Programing\Online-store-of-digital-electronics\Online store of digital electronics\wwwroot\css\null.css" type="text/css" />
    <link rel="stylesheet" href="C:\Programing\Online-store-of-digital-electronics\Online store of digital electronics\wwwroot\css\main.css" type="text/css" />


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Калинин</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                    <li class="nav-item">
                        <a class="nav-link active main-link" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active main-link" role="button" data-bs-toggle="offcanvas" href="#offcanvasTop" aria-controls="offcanvasTop">
                            <span class="navbar-toggler-icon"></span> Каталог
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active main-link" href="#">Производители</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i
                                class="fa-solid fa-magnifying-glass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" aria-current="page" href="#"><i class="fa-solid fa-user"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Авторизация</a></li>
                            <li><a class="dropdown-item" href="#">Регистрация</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-top" data-bs-scroll="false" data-bs-backdrop="false" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="container-fluid shadow p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-3 border-end">
                    <div class="catalog-header">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action catalog-item" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-controls="collapseExample1">Электроника</li>
                            <li class="list-group-item list-group-item-action catalog-item" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-controls="collapseExample2">Бытовая техника</li>
                        </ul>
                    </div>
                </div>
                <div class="col-9 subcatalog" id="subcatalog">
                    <div class="row collapse" data-bs-parent="#subcatalog" id="collapseExample1">
                        <div class="col-3 m-3">
                            <div class="subcatalog-item">
                                <div class="subcatalog-header">Гаджеты</div>
                                <li>Телефоны</li>
                                <li>Смартфоны</li>
                                <li>Кнопочные</li>
                            </div>
                        </div>
                        <div class="col-3 m-3">
                            <div class="subcatalog-item">
                                <div class="subcatalog-header">Гаджеты</div>
                                <li>Телефоны</li>
                                <li>Смартфоны</li>
                                <li>Кнопочные</li>
                            </div>
                        </div>
                        <div class="col-3 m-3">
                            <div class="subcatalog-item">
                                <div class="subcatalog-header">Гаджеты</div>
                                <li>Телефоны</li>
                                <li>Смартфоны</li>
                                <li>Кнопочные</li>
                            </div>
                        </div>
                        <div class="col-3 m-3">
                            <div class="subcatalog-item">
                                <div class="subcatalog-header">Гаджеты</div>
                                <li>Телефоны</li>
                                <li>Смартфоны</li>
                                <li>Кнопочные</li>
                            </div>
                        </div>
                    </div>
                    <div class="row collapse" data-bs-parent="#subcatalog" id="collapseExample2">
                        <div class="col-3 m-3">
                            <div class="subcatalog-item">
                                <div class="subcatalog-header">123</div>
                                <li>Телефоны</li>
                                <li>Смартфоны</li>
                                <li>Кнопочные</li>
                            </div>
                        </div>
                        <div class="col-3 m-3">
                            <div class="subcatalog-item">
                                <div class="subcatalog-header">Гаджеты</div>
                                <li>das</li>
                                <li>Смартфоны</li>
                                <li>Кнопочные</li>
                            </div>
                        </div>
                        <div class="col-3 m-3">
                            <div class="subcatalog-item">
                                <div class="subcatalog-header">Гаджеты</div>
                                <li>Телефоны</li>
                                <li>Смартфоны</li>
                                <li>lkkjlj</li>
                            </div>
                        </div>
                        <div class="col-3 m-3">
                            <div class="subcatalog-item">
                                <div class="subcatalog-header">Гаджеты</div>
                                <li>Телефоны</li>
                                <li>Смартфоны</li>
                                <li>Кнопочные</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://assets.hansgrohe.com/celum/web/stage_latest-news_laptop-ambience_3840x800.jpg?format=HBW21" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="http://notebookprint.com/upload/content/graphic-designing-Banner.jpg" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="http://images.sznetsoft.com/wwwupload/template9/upload/images/2016030856017798.jpg" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <div class="wrapper">
            <div class="leftNav">&lt;</div>
            <div class="scroll-product">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text  text-wrap">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="rightNav">&gt;</div>
        </div>

    </section>
    <script src="C:\Programing\Online-store-of-digital-electronics\Online store of digital electronics\wwwroot\js\bootstrap.min.js"></script>
    <script src="~C:\Programing\Online-store-of-digital-electronics\Online store of digital electronics\wwwroot\js\bootstrap.bundle.min.js"></script>
    <script src="C:\Programing\Online-store-of-digital-electronics\Online store of digital electronics\wwwroot\js\main.script.js"></script>
    <script src="https://kit.fontawesome.com/e5188e6e3f.js" crossorigin="anonymous"></script>
</body>