@model ProductCategory
@{
    int item = 0;
}
<section>
    <div class="container-fluid">
        <div class="row">
            @foreach (var parent in Model.Children)
            {
                    foreach (var child in parent.Children)
                    {
                        @if (item > 5)
                            break;
                            
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <a asp-controller="ProductCategories" asp-action="Index" asp-route-id="@child.Id_сategory">
                                <div class="img-card">
                                    <figure>
                                        <img src="@child.Image" alt="">
                                        <figcaption>@child.Name</figcaption>
                                    </figure>
                                </div>
                            </a>
                        </div>
                        item++;
                    }
            }
        </div>
    </div>
</section>