<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="img-card">
                    <figure>
                        <img src="https://bm.market/upload-files/1486997139887bb2beceb0c891bea4d8703caecfa3757d6072.png" alt="">
                        <figcaption>Наушники</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="img-card">
                    <figure>
                        <img src="https://images.frandroid.com/wp-content/uploads/2020/06/xiaomi-mi-band-5-frandroid-2020.png" alt="">
                        <figcaption>Смарт часы</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="img-card">
                    <figure>
                        <img src="https://mcgrp.ru/images/1318534/2078424.png" alt="">
                        <figcaption>Смартфоны</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="img-card">
                    <figure>
                        <img src="https://bm.market/upload-files/1486997139887bb2beceb0c891bea4d8703caecfa3757d6072.png" alt="">
                        <figcaption>Наушники</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="img-card">
                    <figure>
                        <img src="https://images.frandroid.com/wp-content/uploads/2020/06/xiaomi-mi-band-5-frandroid-2020.png" alt="">
                        <figcaption>Смарт часы</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="img-card">
                    <figure>
                        <img src="https://mcgrp.ru/images/1318534/2078424.png" alt="">
                        <figcaption>Смартфоны</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
