<header>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Калинин</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                    <li class="nav-item">
                        <a class="nav-link active main-link" role="button" data-bs-toggle="offcanvas" href="#offcanvasTop" aria-controls="offcanvasTop">
                            <span class="navbar-toggler-icon"></span> Каталог
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex" data-ajax="true" data-ajax-method="post" data-ajax-update="#list" data-ajax-mode='replace' data-ajax-begin="" data-ajax-url="@Url.Action("Search","Home")">
                            <button id="submitForm" type="submit" style="display:none"></button>
                            <div class="search" id="page-search">
                                <input class="form-control me-2" id="Search_input" onkeyup="subitform()" name="Search" list="brow" type="search"  autocomplete="off" placeholder="Поиск" aria-label="Поиск">                                
                                <a class="btn btn-outline-primary" onclick="Search()" >Поиск</a>
                                <div class="search-history">
                                    <div class="search-history__list" id="list"></div>
                                </div>
                            </div>
                        </form>
                        <form method="get" asp-controller="Products" asp-action="Search_input" style="display:none">
                            <input id="SearchSub" type="submit" />
                            <input id="inputSerch" name="Search" type="text" />
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                    <li class="nav-item me-2">
                        <div class="nav-icon">
                            <a class="nav-link active" aria-current="page" asp-controller="Orders" asp-action="ShoppingСart">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">

                        <a class="nav-link active dropdown-toggle header" data-bs-toggle="dropdown" aria-current="page" href="#">
                            <div class="nav-icon d-flex">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <p>@User.Identity.Name</p>
                                <li>
                                    <form method="post" class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                        <input type="submit" value="Выход" />
                                    </form>
                                </li>

                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Account" asp-action="Login" type="button" class="dropdown-item">
                                        Авторизация
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Register" type="button" class="dropdown-item">
                                        Регистрация
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<link rel="stylesheet" href="~/css/Search.css" type="text/css" />
<script>
        const searchInput = document.getElementById('page-search');
        document.addEventListener("keyup", function (e) {
            if (e.target.closest("#page-search")) {
                searchInput.classList.add('focus');
            } else {
                searchInput.classList.remove('focus');
            }
        })
        document.addEventListener("click", function (e) {
            if (e.target.closest("#page-search")) {
                searchInput.classList.add('focus');
            } else {
                searchInput.classList.remove('focus');
            }
        })
        function subitform() {
            document.querySelector("#submitForm").click();
        }
        function Search() {
            $('#inputSerch').val($('#Search_input').val());
        document.querySelector("#SearchSub").click();
        }
</script>
