
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://assets.hansgrohe.com/celum/web/stage_latest-news_laptop-ambience_3840x800.jpg?format=HBW21"  alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="http://notebookprint.com/upload/content/graphic-designing-Banner.jpg" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="http://images.sznetsoft.com/wwwupload/template9/upload/images/2016030856017798.jpg" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>