<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
    <div>
        @RenderBody()
    </div>
</body>
</html>
