<section>
    <div class="modal fade" id="Registration" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="border-radius: 25px;">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="text-black">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Регистрация</p>
                                        <form class="mx-1 mx-md-4">
                                            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                                                <li class="nav-item m-1" role="presentation">
                                                    <button type="button" class="nav-link btn-reg-aut" data-bs-toggle="modal" data-bs-target="#Authentication">Вход</button>
                                                </li>
                                                <li class="nav-item m-1" role="presentation">
                                                    <a class="nav-link active btn-reg-aut">Регистрация</a>
                                                </li>
                                            </ul>
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="formRegName" class="form-control" placeholder="Ваше имя" aria-label="Ваше имя" />
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="email" id="formRegLogin" class="form-control" placeholder="Ваша электронная почта" aria-label="Ваша электронная почта" />
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="formRegPassword" class="form-control" placeholder="Пароль" aria-label="Пароль" />
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="formRegRassword2" class="form-control" placeholder="Повторите пароль" aria-label="Повторите пароль" />
                                                </div>
                                            </div>

                                            <div class="form-check d-flex justify-content-center mb-5">
                                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                                <label class="form-check-label" for="form2Example3">
                                                    Я согласен со всеми заявлениями в
                                                    <a href="#!">Условиях предоставления услуг</a>
                                                </label>
                                            </div>

                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="button" class="btn btn-primary btn-lg">Регистрация</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="modal fade" id="Authentication" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="border-radius: 25px;">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="text-black">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-8 col-lg-7 col-xl-6">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
                                    </div>
                                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Вход</p>
                                        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                                            <li class="nav-item m-1" role="presentation">
                                                <a class="nav-link active btn-reg-aut">Вход</a>
                                            </li>
                                            <li class="nav-item m-1" role="presentation">
                                                <button type="button" class="nav-link btn-reg-aut" data-bs-toggle="modal" data-bs-target="#Registration">
                                                    Регистрация
                                                </button>
                                            </li>
                                        </ul>
                                        <form>
                                            <!-- Email input -->
                                            <div class="form-outline mb-4">
                                                <input type="email" id="form1AuthLogin" class="form-control form-control-lg" placeholder="Эл. адрес" aria-label="Эл. адрес" />
                                            </div>

                                            <!-- Password input -->
                                            <div class="form-outline mb-4">
                                                <input type="password" id="formAuthPassword" class="form-control form-control-lg" placeholder="Пароль" aria-label="Пароль" />
                                            </div>

                                            <div class="d-flex justify-content-around align-items-center mb-4">
                                                <!-- Checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                                    <label class="form-check-label" for="form1Example3">
                                                        Запомнить
                                                        меня
                                                    </label>
                                                </div>
                                                <a href="#!">Забыли пароль?</a>
                                            </div>

                                            <!-- Submit button -->

                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="button" class="btn btn-primary btn-lg">Вход</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
