@model IEnumerable<Online_store_of_digital_electronics.Models.ProductCategory>


<div class="offcanvas offcanvas-top" data-bs-scroll="false" data-bs-backdrop="false" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-3 border-end">
                <div class="catalog-header">
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item list-group-item-action catalog-item" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-controls="collapseExample1">@item.Name</li>


                        }
                         </ul>
                </div>
            </div>
            <div class="col-9 subcatalog" id="subcatalog">
                <div class="row collapse" data-bs-parent="#subcatalog" id="collapseExample1">
                    <div class="col-3 m-3">
                        <div class="subcatalog-item">
                            <div class="subcatalog-header">Гаджеты</div>
                            <li>Телефоны</li>
                            <li>Смартфоны</li>
                            <li>Кнопочные</li>
                        </div>
                    </div>
                    <div class="col-3 m-3">
                        <div class="subcatalog-item">
                            <div class="subcatalog-header">Гаджеты</div>
                            <li>Телефоны</li>
                            <li>Смартфоны</li>
                            <li>Кнопочные</li>
                        </div>
                    </div>
                    <div class="col-3 m-3">
                        <div class="subcatalog-item">
                            <div class="subcatalog-header">Гаджеты</div>
                            <li>Телефоны</li>
                            <li>Смартфоны</li>
                            <li>Кнопочные</li>
                        </div>
                    </div>
                    <div class="col-3 m-3">
                        <div class="subcatalog-item">
                            <div class="subcatalog-header">Гаджеты</div>
                            <li>Телефоны</li>
                            <li>Смартфоны</li>
                            <li>Кнопочные</li>
                        </div>
                    </div>
                </div>
                <div class="row collapse" data-bs-parent="#subcatalog" id="collapseExample2">
                    <div class="col-3 m-3">
                        <div class="subcatalog-item">
                            <div class="subcatalog-header">123</div>
                            <li>Телефоны</li>
                            <li>Смартфоны</li>
                            <li>Кнопочные</li>
                        </div>
                    </div>
                    <div class="col-3 m-3">
                        <div class="subcatalog-item">
                            <div class="subcatalog-header">Гаджеты</div>
                            <li>das</li>
                            <li>Смартфоны</li>
                            <li>Кнопочные</li>
                        </div>
                    </div>
                    <div class="col-3 m-3">
                        <div class="subcatalog-item">
                            <div class="subcatalog-header">Гаджеты</div>
                            <li>Телефоны</li>
                            <li>Смартфоны</li>
                            <li>lkkjlj</li>
                        </div>
                    </div>
                    <div class="col-3 m-3">
                        <div class="subcatalog-item">
                            <div class="subcatalog-header">Гаджеты</div>
                            <li>Телефоны</li>
                            <li>Смартфоны</li>
                            <li>Кнопочные</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>