<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<div id="slider-range"></div>
<div>
    <span id="rub-left" style="position: absolute;"></span>
    <span id="rub-right" style="position: absolute; margin-left: 30%;"></span>
</div>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

<script>
    $("#slider-range").slider({
        range: true,
        min: 0,
        max: 1000,
        values: [0, 300],
        step: 10,
        slide: function (event, ui) {
            $("#rub-left").text(ui.values[0] + 'р.'); // текст левого span
            $("#rub-right").text(ui.values[1] + 'р.'); // текст правого span

            if (ui.handleIndex === 0) {
                // потянули левый ползунок - переместим левый span  
                $("#rub-left").css('margin-left', ui.handle.style.left);
            } else {
                // потянули правый ползунок - переместим правый span
                $("#rub-right").css('margin-left', ui.handle.style.left);
            }
        }
    });

    // задать начальный текст левого span
    $("#rub-left").text($("#slider-range").slider("values", 0) + 'р.');
    // задать начальный текст правого span
    $("#rub-right").text($("#slider-range").slider("values", 1) + 'р.');
</script>