@{
    ViewData["Title"] = "Home Page";
}
<body>
    <link rel="stylesheet" href="~/css/header.css" type="text/css" />
    <link rel="stylesheet" href="~/css/null.css" type="text/css" />
    <header>
        <a href="/" class="logo"><img src="" alt="" /></a>
        <div class="right_header">
            <ul class="mnu_top">
                <li><a href="#">Калинин</a> </li>
                <li><a href="#">Вадим</a></li>
                <li><a href="#">Александрович</a></li>
                <li>
                    <div class="btns">
                        <a href="#" class="btn_light"> Войти</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
</body>
