@model Online_store_of_digital_electronics.ViewModel.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" type="text/css" />
@await Html.PartialAsync("~/Views/Products/index.cshtml", Model.Products)
<h1>Главная страница</h1>
@await Html.PartialAsync("~/Views/Shared/_HomeCarousel.cshtml")

