@model Online_store_of_digital_electronics.Models.Products
@{
    ViewData["Title"] = "Описание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/null.css" type="text/css" />
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
<script src="~/js/bootstrap.min.js"></script>

<div class="row mt-5 mb-2">

    @await Html.PartialAsync("~/Views/Shared/_LayoutDetails.cshtml", Model)

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_product">Изменить</a> |

</div>
